<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="LPGNature"
         name="LPG Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="org.eclipse.imp.lpg.runtime.LPGBuilder">
      </builder>
      <runtime>
         <run
               class="org.eclipse.imp.lpg.builder.LPGNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="LPGBuilder"
         name="LPG Grammar File Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.imp.lpg.builder.LPGBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problem"
         name="LPG Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="LPG IDE"
            id="org.eclipse.imp.lpg.ide">
      </category>
      <view
            name="LPG Console"
            icon="icons/sample.gif"
            category="org.eclipse.imp.lpg.ide"
            class="org.eclipse.imp.lpg.views.LPGView"
            id="org.eclipse.imp.lpg.views.LPGView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eclipse.imp.lpg.views.LPGView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.eclipse.imp.LPG"
         name="LPG Language"
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            icon="icons/grammarfile.gif"
            extensions="g,gi,lpg"
            description="LPG Grammar Specification"
            natureID="org.eclipse.imp.lpg.runtime.LPGNature"
            language="LPG">
      </language>
   </extension>
   <extension
         name="LPG Grammar Specification Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.eclipse.imp.lpg.parser.ParseController"
            language="LPG">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.imp.lpg.editor.TokenColorer"
            language="LPG">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="org.eclipse.imp.lpg.editor.ContentProposer"
            language="LPG">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="false"
            nameFilter="*"
            id="org.eclipse.imp.lpg.projectContextMenu">
         <separator
               name="LPG">
         </separator>
         <menu
               label="LPG"
               path="additions"
               id="org.eclipse.imp.lpg.contextMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Enable &amp;LPG Builder"
               icon="icons/builderEnable.gif"
               tooltip="Enable the LPG builder for this project"
               class="org.eclipse.imp.lpg.actions.EnableBuilder"
               menubarPath="org.eclipse.imp.lpg.contextMenu/group1"
               id="org.eclipse.imp.lpg.enableBuilderAction">
         </action>
         <action
               label="Enable &amp;LPG Doc Builder"
               icon="icons/builderEnable.gif"
               tooltip="Enable the LPG documentation builder for this project"
               class="org.eclipse.imp.lpg.actions.EnableDocBuilder"
               menubarPath="org.eclipse.imp.lpg.contextMenu/group1"
               id="org.eclipse.imp.lpg.enableDocBuilderAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.imp.lpg.preferences.LPGInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.imp.lpg.editor.FoldingUpdater"
            language="LPG">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.formatter">
      <formatter
            class="org.eclipse.imp.lpg.editor.LPGFormatter"
            language="LPG">
      </formatter>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            canSearchEnclosingProjects="true"
            label="LPG Search"
            enabled="true"
            icon="icons/sample.gif"
            extensions="g:100"
            class="org.eclipse.imp.lpg.search.LPGSearchPage"
            id="org.eclipse.imp.lpg.searchPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.imp.lpg.search.LPGSearchResultPage"
            searchResultClass="org.eclipse.imp.lpg.search.LPGSearchResult"
            id="org.eclipse.imp.searchResultViewPage">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="org.eclipse.imp.lpg.editor.LPGLabelProvider"
            language="LPG">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="org.eclipse.imp.lpg.editor.LPGTreeModelBuilder"
            language="LPG">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.refactoringContributions">
      <refactoringContributor
            class="org.eclipse.imp.lpg.refactoring.LPGRefactoringContributor"
            language="LPG">
      </refactoringContributor>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="org.eclipse.imp.lpg.editor.LPGReferenceResolver"
            language="LPG">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.xform.astAdapter">
      <astAdapter
            class="org.eclipse.imp.lpg.refactoring.LPGASTAdapter"
            language="LPG">
      </astAdapter>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.editorActionContributions">
      <editorActionContributor
            class="org.eclipse.imp.lpg.actions.LanguageActionContributor"
            language="LPG">
      </editorActionContributor>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.eclipse.imp.lpg.editor.DocumentationProvider"
            language="LPG">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceIdentifier
            class="org.eclipse.imp.lpg.editor.LPGOccurrenceMarker"
            language="LPG">
      </occurrenceIdentifier>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LPG Grammar Editor"
            icon="icons/grammarfile.gif"
            extensions="g,gi"
            class="org.eclipse.imp.editor.UniversalEditor"
            id="lpg.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.entityNameLocator">
      <entityNameLocator
            class="org.eclipse.imp.lpg.editor.LPGEntityNameLocator"
            language="LPG">
      </entityNameLocator>
   </extension>
   <extension
         id="docBuilder"
         name="LPG Grammar Documentation Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.imp.lpg.docBuilder.LPGDocBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true"
            category="IMP">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="LPG"
            class="org.eclipse.imp.lpg.preferences.LPGPreferencePage"
            id="org.eclipse.imp.lpg.preferences.LPG">
      </page>
   </extension>

</plugin>
