<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="jikesPGNature"
         name="JikesPG Nature"
         point="org.eclipse.core.resources.natures">
      <builder id="org.eclipse.safari.jikespg.runtime.jikesPGBuilder"/>
      <runtime>
         <run class="org.eclipse.safari.jikespg.builder.JikesPGNature"/>
      </runtime>
   </extension>
 
   <extension
         id="jikesPGBuilder"
         name="JikesPG Grammar File Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.eclipse.safari.jikespg.builder.JikesPGBuilder"/>
      </builder>
   </extension>
   <extension
         id="problem"
         name="JikesPG Error"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="JikesPG UIDE"
            id="org.jikespg.uide"/>
      <view
            class="org.eclipse.safari.jikespg.views.JikesPGView"
            icon="icons/sample.gif"
            category="org.jikespg.uide"
            name="JikesPG Console"
            id="org.jikespg.uide.views.JikesPGView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               id="org.eclipse.safari.jikespg.views.JikesPGView"/>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.jikespg.uide.jikesPG"
         name="JikesPG Language"
         point="org.eclipse.uide.runtime.languageDescription">
      <language
            description="JikesPG Grammar Specification"
            extensions="g,gi,lpg"
            icon="grammarfile.gif"
            language="JikesPG"/>
   </extension>
   <extension
         name="JikesPG Grammar Specification Parser"
         point="org.eclipse.uide.runtime.parser">
      <parser
            class="org.eclipse.safari.jikespg.parser.ParseController"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.safari.jikespg.editor.TokenColorer"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.outliner">
      <outliner
            class="org.eclipse.safari.jikespg.editor.Outliner"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.contentProposer">
      <proposer
            class="org.eclipse.safari.jikespg.editor.ContentProposer"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.hoverHelper">
      <hoverhelper
            class="org.eclipse.safari.jikespg.editor.HoverHelper"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.safari.jikespg.projectContextMenu"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="org.eclipse.safari.jikespg.actions.EnableBuilder"
               icon="icons/builderEnable.gif"
               id="org.eclipse.safari.jikespg.enableBuilderAction"
               label="Enable &amp;JikesPG Builder"
               tooltip="Enable the JikesPG builder for this project"/>
      </objectContribution>
   </extension>
<!--   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jikespg.uide.preferences.JikesPGPreferencePage"
            id="org.jikespg.uide.preferencePage"
            name="JikesPG"/>
   </extension>
-->	
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.safari.jikespg.preferences.JikesPGTabbedPreferencesPage"
            id="org.eclipse.safari.jikespg.tabbedPreferencesPage"
            name="JikesPG Revised"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.safari.jikespg.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            class="org.eclipse.safari.jikespg.compare.JikesPGStructureNode"
            extensions="g,gi"
            id="org.eclipse.safari.jikespg.structureCreator"/>
<!--      <contentTypeBinding
            contentTypeId="org.eclipse.safari.jikespg.grammarFile"
            structureCreatorId="org.eclipse.safari.jikespg.structureCreator"/>
  -->
   </extension>
<!--   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="g,gi"
            id="org.eclipse.safari.jikespg.grammarFile"
            name="JikesPG Grammar File"
            priority="normal"/>
   </extension>
 -->
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.safari.jikespg.compare.StructureMergeViewerCreator"
            extensions="g,gi"
            id="org.jikespg.uide.viewer"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.safari.jikespg.editor.FoldingUpdater"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.formatter">
      <formatter
            class="org.eclipse.safari.jikespg.editor.JikesPGFormatter"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.safari.jikespg.search.JikesPGSearchPage"
            enabled="true"
            extensions="g:100"
            icon="icons/sample.gif"
            id="org.jikespg.uide.searchPage"
            label="JikesPG Search"
            showScopeSection="true"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.safari.jikespg.search.JikesPGSearchResultPage"
            id="org.jikespg.uide.searchResultViewPage"
            searchResultClass="org.eclipse.safari.jikespg.search.JikesPGSearchResult"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.labelProvider">
         <labelProvider
               class="org.eclipse.safari.jikespg.editor.JikesPGLabelProvider"
               language="jikespg"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.outlineContentProvider">
         <outlineContentProvider
         		class="org.eclipse.safari.jikespg.editor.JikesPGContentProvider"
         		language="jikespg"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.refactoringContributions">
         <refactoringContributor
				language="jikespg"
				class="org.eclipse.safari.jikespg.refactoring.JikesPGRefactoringContributor"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.referenceResolvers">
         <referenceResolver
                language="jikespg"
                class="org.eclipse.safari.jikespg.editor.JikesPGReferenceResolver"/>
   </extension>
   <extension
         point="com.ibm.watson.safari.xform.astAdapter">
         <astAdapter
            language="JikesPG"
            class="org.eclipse.safari.jikespg.refactoring.JikesPGASTAdapter"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.editorActionContributions">
      <editorActionContributor
            class="org.eclipse.safari.jikespg.actions.LanguageActionContributor"
            language="jikespg"/>
   </extension>
</plugin>
