<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="LPGNature"
         name="LPG Nature"
         point="org.eclipse.core.resources.natures">
      <builder id="org.eclipse.imp.lpg.runtime.LPGBuilder"/>
      <runtime>
         <run class="org.eclipse.imp.lpg.builder.LPGNature"/>
      </runtime>
   </extension>
 
   <extension
         id="LPGBuilder"
         name="LPG Grammar File Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.eclipse.imp.lpg.builder.LPGBuilder"/>
      </builder>
   </extension>
   <extension
         id="problem"
         name="LPG Error"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="LPG IDE"
            id="org.eclipse.imp.lpg.ide"/>
      <view
            class="org.eclipse.imp.lpg.views.LPGView"
            icon="icons/sample.gif"
            category="org.eclipse.imp.lpg"
            name="LPG Console"
            id="org.eclipse.imp.lpg.views.LPGView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               id="org.eclipse.imp.lpg.views.LPGView"/>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.eclipse.imp.LPG"
         name="LPG Language"
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="LPG Grammar Specification"
            extensions="g,gi,lpg"
            icon="grammarfile.gif"
            language="LPG"
            natureID="org.eclipse.imp.lpg.runtime.LPGNature"/>
   </extension>
   <extension
         name="LPG Grammar Specification Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.eclipse.imp.lpg.parser.ParseController"
            language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.imp.lpg.editor.TokenColorer"
            language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.outliner">
      <outliner
            class="org.eclipse.imp.lpg.editor.Outliner"
            language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="org.eclipse.imp.lpg.editor.ContentProposer"
            language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.imp.lpg.projectContextMenu"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="org.eclipse.imp.lpg.actions.EnableBuilder"
               icon="icons/builderEnable.gif"
               id="org.eclipse.imp.lpg.enableBuilderAction"
               label="Enable &amp;LPG Builder"
               tooltip="Enable the LPG builder for this project"/>
      </objectContribution>
   </extension>
<!--   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.imp.preferences.LPGPreferencePage"
            id="org.eclipse.imp.preferencePage"
            name="LPG"/>
   </extension>
-->	
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.imp.lpg.preferences.LPGTabbedPreferencesPage"
            id="org.eclipse.imp.lpg.tabbedPreferencesPage"
            name="LPG"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.imp.lpg.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            class="org.eclipse.imp.lpg.compare.LPGStructureNode"
            extensions="g,gi"
            id="org.eclipse.imp.lpg.structureCreator"/>
<!--      <contentTypeBinding
            contentTypeId="org.eclipse.imp.lpg.grammarFile"
            structureCreatorId="org.eclipse.imp.lpg.structureCreator"/>
  -->
   </extension>
<!--   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="g,gi"
            id="org.eclipse.imp.lpg.grammarFile"
            name="LPG Grammar File"
            priority="normal"/>
   </extension>
 -->
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.imp.lpg.compare.StructureMergeViewerCreator"
            extensions="g,gi"
            id="org.eclipse.imp.viewer"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.imp.lpg.editor.FoldingUpdater"
            language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.formatter">
      <formatter
            class="org.eclipse.imp.lpg.editor.LPGFormatter"
            language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.imp.lpg.search.LPGSearchPage"
            enabled="true"
            extensions="g:100"
            icon="icons/sample.gif"
            id="org.eclipse.imp.lpg.searchPage"
            label="LPG Search"
            showScopeSection="true"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.imp.lpg.search.LPGSearchResultPage"
            id="org.eclipse.imp.searchResultViewPage"
            searchResultClass="org.eclipse.imp.lpg.search.LPGSearchResult"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
         <labelProvider
               class="org.eclipse.imp.lpg.editor.LPGLabelProvider"
               language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.outlineContentProvider">
         <outlineContentProvider
         		class="org.eclipse.imp.lpg.editor.LPGContentProvider"
         		language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.refactoringContributions">
         <refactoringContributor
				language="LPG"
				class="org.eclipse.imp.lpg.refactoring.LPGRefactoringContributor"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
         <referenceResolver
                language="LPG"
                class="org.eclipse.imp.lpg.editor.LPGReferenceResolver"/>
   </extension>
   <extension
         point="org.eclipse.imp.xform.astAdapter">
         <astAdapter
            language="LPG"
            class="org.eclipse.imp.lpg.refactoring.LPGASTAdapter"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.editorActionContributions">
      <editorActionContributor
            class="org.eclipse.imp.lpg.actions.LanguageActionContributor"
            language="LPG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
         <docProvider
             language="LPG"
             class="org.eclipse.imp.lpg.editor.DocumentationProvider"/>
   </extension>
</plugin>
